<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <mappers>
        <mapper resource="com/j/ch17/spring/store/dao/mybatis/Item.xml"></mapper>
        <mapper resource="com/j/ch17/spring/store/dao/mybatis/PaymentInfo.xml"></mapper>
        <mapper resource="com/j/ch17/spring/store/dao/mybatis/PurchaseOrder.xml"></mapper>
    </mappers>
</configuration>