<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="connectionMaker" class="com.j.ch13.model.NConnectionMaker"></bean>

    <bean id="countingConnectionMaker" class="com.j.ch13.model.CountingConnectionMaker">
        <!--property name 은 위 bean 의 member 를 의미하며 ref 는 참조할 값 (넣어줄 값) 을 의미 , value 는 직접 값을 넣어준다.-->
        <property name="realConnectionMaker" ref="connectionMaker" />
        <property name="count" value="3"></property>
    </bean>

    <bean id="userDAO" class="com.j.ch13.dao.UserDAO">
        <property name="connectionMaker" ref="countingConnectionMaker"/>
    </bean>

    <bean id="dataSource"
          class="org.springframework.jdbc.datasource.SimpleDriverDataSource">
        <property name="driverClass" value="com.mysql.jdbc.Driver"/>
        <property name="url" value="jdbc:mysql://192.168.137.128:3306/jsptest"/>
        <property name="username" value="moving33"/>
        <property name="password" value="1234"/>
     </bean>



</beans>